.end-page {
    width: 100vw;
    padding: 4.375rem 2.813rem;
    border-bottom: .5rem solid var(--border);
    background-color: var(--black);
    color: var(--footer-color);
}
.footer-end{
    max-width: 62.5rem;
    margin: 0 auto;
    padding-top: 0;
    display: block;
}
.footer{
    width: 90%;
    margin: 0 auto;
}
.footer p {
    margin: 0 0 30px;
}
.footer .footer-list {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px 0 0;
    width: 24%;
    min-width: 100px;
    margin-bottom: 16px;
    vertical-align: top;
}
.footer-list .footer-link{
    text-decoration: none;
    color: var(--footer-color);
    font-size: 13px;
}
.footer-list .footer-link:hover{
    text-decoration: underline;
    color: var(--footer-color);
}
.idioma-footer{
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}
.idioma-footer #language-footer {
    padding: 1.2rem 1.625rem 1.2rem 3.425rem;
    background: rgba(0, 0, 0, .4);
    color: var(--icon-footer);
    white-space: nowrap;
    border: 0.063rem solid var(--color-select);
    position: relative;
    margin-left: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1rem;
    background: var(--black);
}
.footer-end .netflix-brasil{
    font-size: 13px;
    margin-top: 1.5rem;
    position: relative;
}
.footer-end .netflix-brasil {
    font-size: 13px;
    top: 1rem;
    left: 5%;
}